body{
    background-color: rgb(20, 20, 20);
}

.error {
    color: red;
    font-weight: bold;
    font-style: italic;
    display: block;
}

.thStyle {
    font: bold;
    color: rgb(136 26 26);
}

.myTable {
    width: 800px;
    border: 2px solid rgb(221, 100, 100);
    border-radius: 30px;
    border-width: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lavender;
    padding: 40px;
    text-align: center;
}

header {
    border: 2px solid rgb(221, 100, 100);
    border-radius: 30px;
    font-style: oblique;
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    color: rgb(226, 164, 164);
    text-decoration-style: double;
}

label {
    font-style: italic;
    padding: 15px;
    color: rgb(136 26 26);
    font-weight: bold;
}

footer {
    font-style: italic;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(226, 164, 164);
}

.center {
    text-align: center;
}

.inputStyle {
    padding: 5px;
    box-sizing: inherit;
    margin: 5px;
}

.set-width {
    width: 345px;
}

input[type=submit] {
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(226, 164, 164);
    width: 300px;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

div {
    display: none;
}